body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    font-size: 20px;
}

#img-bg {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    color: rgb(255, 255, 255);
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.text-area h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 33px;
}